-e .
absl-py
aiofiles
altair
annotated-types
anyio
asgiref
astunparse
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
contourpy
cycler
exceptiongroup
fastapi
ffmpy
filelock
Flask
flatbuffers
fonttools
fsspec
gast
gevent
google-auth
google-auth-oauthlib
google-pasta
gradio
gradio_client
greenlet
grpcio
h11
h5py
httpcore
httpx
huggingface-hub
idna
importlib-resources
itsdangerous
jax
Jinja2
joblib
jsonschema
jsonschema-specifications
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml-dtypes
nibabel
numpy
oauthlib
opencv-python
opt-einsum
orjson
packaging
pandas
Pillow
protobuf
psycopg2
pyasn1
pyasn1-modules
pydantic
pydantic_core
pydub
Pygments
pyparsing
python-dateutil
python-multipart
pytz
PyYAML
referencing
requests
requests-oauthlib
rich
rpds-py
rsa
scikit-learn
scipy
semantic-version
shellingham
six
sniffio
sqlparse
starlette
tensorflow
termcolor
threadpoolctl
tomlkit
toolz
tqdm
typer
typing_extensions
tzdata
urllib3
uvicorn
websockets
Werkzeug
wrapt
zope.event
zope.interface